ion-content {
  text-align: center;
  line-height: 90vh;
  background-color: white;
}

ion-button {
  margin: 20px;
  font-family: calibri;
  font-size: 24px;
  font-weight: bold;



  color: red;

}
